<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <span class="material-symbols-outlined">language</span>
            <span>English(IN)</span>
            <span class="rupee">
                            <span><i class="fa-solid fa-indian-rupee-sign"></i> INR</span>
            </span>
            <span class="socials">
            <span><a href="https://facebook.com/wanderlust"><i class="fa-brands fa-square-facebook"></i></a></span>
            <span><a href="https://twitter.com/wanderlust"><i class="fa-brands fa-square-twitter"></i></a></span>
            <span><a href="https://instagram.com/wanderlust"><i class="fa-brands fa-square-instagram"></i></a></span>
            </span>

        </div>
        <div class="f-info-company"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="#">Sitemap</a>
            <a href="#">Company details</a>
        </div>
    </div>
</footer>